.card-container {
  padding: 1em;
}
.logo{
  height:70px;
  width: 70px;
  padding-left: 40%;
}
.logo-container{
  padding-left: 46%;
}
@media only screen and (max-width: 600px) {
  .logo-container {
  padding-left: 30%;
  }
}