<div class="card-container">
  <mat-card class="mat-elevation-z8">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <div>
        <div *ngIf="firstFormGroup">
          <mat-step [stepControl]="firstFormGroup">
            <form fxLayout="column" [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Enquiry</ng-template>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Name"
                  formControlName="name"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Organization Name"
                  formControlName="organizationName"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="E-mail"
                  formControlName="email"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Phone Number"
                  formControlName="phoneNumber"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Do you have a team?"
                  formControlName="team"
                  select
                >
                  <mat-option *ngFor="let bul of hasTeam" [value]="bul">{{
                    bul
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Organization Type"
                  formControlName="organizationType"
                  select
                >
                  <mat-option
                    *ngFor="let orgType of organizations"
                    [value]="orgType"
                    >{{ orgType }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-flat-button color="primary" matStepperNext>
                  Next
                </button>
              </div>
            </form>
          </mat-step>
        </div>
        <mat-step [stepControl]="secondFormGroup">
          <div *ngIf="secondFormGroup">
            <form fxLayout="column" [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Requirements</ng-template>

              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Query priority"
                  formControlName="priority"
                  select
                >
                  <mat-option *ngFor="let pro of priorityType" [value]="pro">{{
                    pro
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Your Query Type"
                  formControlName="queryType"
                  select
                >
                  <mat-option *ngFor="let que of inquiryType" [value]="que">{{
                    que
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="Your Query Brief"
                  formControlName="queryBrief"
                  required
                  rows="7"
                ></textarea>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-select
                  placeholder="Your Budget"
                  formControlName="budget"
                  select
                >
                  <mat-option
                    *ngFor="let budget of budgetOptions"
                    [value]="budget"
                    >{{ budget }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-button color="primary" matStepperPrevious>
                  Back
                </button>
                <button mat-flat-button color="primary" matStepperNext>
                  Next
                </button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <h3>Confirm Enquiry</h3>
          <p>Go Back and edit enquiry</p>
          <p>Or Submit to continue</p>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button
              mat-flat-button
              color="primary"
              (click)="submitForm(stepper)"
            >
              Submit
            </button>
          </div>
        </mat-step>
      </div>
    </mat-horizontal-stepper>
  </mat-card>
</div>
<div class="card-container" fxLayout="center center">
  <div class="logo-container">
    <h1 style="color: blue;">Castle<span style="color:red ;">craft</span></h1>
  </div>
</div>
