<div class="card-container">
  <mat-card class="mat-elevation-z8">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step *ngIf="firstFormGroup" [stepControl]="firstFormGroup">
            <form fxLayout="column" [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Job Applicant</ng-template>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Applicant Name"
                  formControlName="applicant_name"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="E-mail"
                  formControlName="email_id"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="Elaborate about your career and strengths or anything interesting."
                  formControlName="cover_letter"
                  required
                  rows="8"
                ></textarea>
              </mat-form-field>

              <div>
                <button mat-flat-button color="primary" matStepperNext>
                  Next
                </button>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="secondFormGroup">
            <div *ngIf="secondFormGroup">
              <form fxLayout="column" [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Tech Quiz</ng-template>
  
                <mat-form-field appearance="outline">
                  <textarea
                    matInput
                    placeholder="What's your most used library and why ?"
                    formControlName="library"
                    required
                    rows="5"
                  ></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <textarea
                    matInput
                    placeholder="which framework do you prefer the most and why ?"
                    formControlName="framework"
                    required
                    rows="4"
                  ></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <textarea
                    matInput
                    placeholder="For a e2e fullstack application what will be your preferred tech stack ?"
                    formControlName="e2e"
                    required
                  ></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <textarea
                    matInput
                    placeholder="Elaborate about the most challenging problem that you have solved in career ?"
                    formControlName="challenge"
                    required
                    rows="8"
                  ></textarea>
                </mat-form-field>

                <div>
                  <button mat-button color="primary" matStepperPrevious>
                    Back
                  </button>
                  <button mat-flat-button color="primary" matStepperNext>
                    Next
                  </button>
                </div>
              </form>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <h3>Submit Application</h3>
            <p>Go Back and Edit things,</p>
            <p>Or Submit to continue</p>
            <div>
              <button mat-button color="primary" matStepperPrevious>Back</button>
              <button
                mat-flat-button
                color="primary"
                (click)="submitForm(stepper)"
              >
                Submit
              </button>
            </div>
          </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
<div class="card-container" fxLayout="center center">
  <div class="logo-container">
    <h1 style="color: blue;">Castle<span style="color:red ;">craft</span></h1>
  </div>
</div>
